body {
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
}

h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}
