body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  background-color: #462cb3;
  color: white;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: lightblue;
}

section.secondary h2 {
  border-left: none;
  padding-left: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/wreath.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px;
  text-align: center;
}

header h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background-color: white;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 30px 0 0 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #eee;
}

main h2 {
  color: purple;
  border-left: 5px solid purple;
  font-weight: 800;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: uppercase;
}

main h3 {
  font-weight: 800;
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 10px 0;
}

main h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/ribbon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 30px 0;
}

footer h3 {
  font-family: "Playfair", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.embed {
  aspect-ratio: 16 / 9;
  border: none;
  width: 100%;
}

@media (max-width: 900px) {
  header {
    padding: 50px 0;
  }

  header h1 {
    font-size: 42px;
  }

  header h2 {
    font-size: 22px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  section {
    padding: 50px;
  }
}
